/* Common rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}


/* Utilities */

.container {
    max-width: 1000px;
    margin: auto;
}


/* Header */

a {
    text-decoration: none;
}

header {
    height: 90px;
    border-bottom: 1px solid rgba(151, 151, 151, .5);
    padding-top: 1rem;
    padding-left: 1rem;
}

.header_top {
    display: flex;
    margin-bottom: 0.75rem;
}

.logo img {
    width: 90px;
    margin-right: 0.25rem;
}

.header_top h2 {
    font-weight: normal;
}

.header_top .privacy,
.navbar a {
    color: #5f6368;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-right: 1.5rem;
}

.navbar a {
    padding-bottom: 0.4rem;
}

.active {
    color: #3367d6 !important;
    border-bottom: 3px solid #3367d6;
}


/* Main */

h2:not(.header_top h2) {
    margin-top: 5rem;
    color: #3c4043;
}

p {
    margin: 2rem 0;
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
}

.container a {
    color: #3367d6 !important;
}

ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
}

h3 {
    color: rgba(0, 0, 0, .87);
    font-size: 18px;
    font-weight: 500;
}